@import url("https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round");
* {
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
}

body {
  background-image: linear-gradient(45deg, #e5ebef 0%, #ffffff 100%);
}

.blog {
  padding-top: 12rem;
  padding-bottom: 6rem;
}

.blog .blog-container {
  margin: 0 4rem;
}

.blog .blog-container .blog-title h2 {
  font-size: 60px;
  line-height: 60px;
  color: #2b2f3a;
  font-family: "Varela Round";
}

.blog .blog-container .blog-title span {
  font-size: 60px;
  line-height: 60px;
  color: #005bcf;
  font-family: "Varela Round";
}

.blog .blog-container .blog-pre-posts {
  margin-top: 4rem;
  margin-bottom: 6rem;
  width: 25%;
}

.blog .blog-container .blog-pre-posts span {
  font-size: 18px;
  line-height: 30px;
  color: #2b2f3a;
  font-family: "Open Sans";
}

.blog .blog-container .blog-posts .post .post-container {
  padding: 0 1rem;
}

.blog .blog-container .blog-posts .post .post-container .post-title-img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20rem;
  border-radius: 3px;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
}

.blog .blog-container .blog-posts .post .post-container .post-title-img img {
  width: 100%;
  height: auto;
  position: relative;
}

.blog .blog-container .blog-posts .post .post-container .post-title-img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #39bba300;
}

.blog .blog-container .blog-posts .post .post-container .post-content {
  padding: 2rem;
}

.blog .blog-container .blog-posts .post .post-container .post-content .post-label {
  border-radius: 3px;
  background-color: #39bba3;
  display: inline-block;
  width: 44px;
  text-align: center;
}

.blog .blog-container .blog-posts .post .post-container .post-content .post-label span {
  font-size: 9px;
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
}

.blog .blog-container .blog-posts .post .post-container .post-content .post-date {
  display: inline-block;
}

.blog .blog-container .blog-posts .post .post-container .post-content .post-date span {
  font-size: 12px;
  letter-spacing: 0px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: 300;
}

.blog .blog-container .blog-posts .post .post-container .post-content .post-title h4 {
  font-size: 22px;
  line-height: 30px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: bold;
}

.blog .blog-container .blog-posts .post .post-container .post-content .post-description span {
  font-size: 15px;
  line-height: 24px;
  color: #888d94;
  font-family: "Open Sans";
}

.blog .blog-container .blog-posts .post .post-container .post-content .post-article a {
  color: #2b2f3a;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 50px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: bold;
}

.blog .blog-container .blog-posts .post .post-container:hover .post-title-img:after {
  background-color: #39bba390;
}

.blog .blog-container .blog-posts .post .post-container:hover .post-article a {
  text-decoration: none;
  color: #3abba3;
}

@media screen and (max-width: 1024px) {
  .blog {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
  .blog .blog-container .blog-pre-posts {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  .blog .blog-container .blog-pre-posts {
    margin-top: 3rem;
    margin-bottom: 4rem;
    width: 45%;
  }
}

@media screen and (max-width: 414px) {
  .blog {
    padding-top: 2rem;
  }
  .blog .blog-container {
    margin: 0;
  }
  .blog .blog-container .blog-title h2 {
    font-size: 47px;
    line-height: 1;
  }
  .blog .blog-container .blog-title span {
    font-size: 47px;
    line-height: 1;
  }
  .blog .blog-container .blog-pre-posts {
    width: 100%;
  }
  .blog .blog-container .blog-posts .post .post-container {
    padding: 0;
  }
  .blog .blog-container .blog-posts .post .post-container .post-content {
    padding: 2rem 0 3rem;
  }
  .blog .blog-container .blog-posts .post .post-container .post-content .post-title h4 {
    font-size: 20px;
  }
  .blog .blog-container .blog-posts .post .post-container .post-content .post-description {
    font-size: 16px;
  }
  .blog .blog-container .blog-posts .post .post-container .post-content .post-article a {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .blog .blog-container .blog-title h2 {
    font-size: 45px;
  }
  .blog .blog-container .blog-title span {
    font-size: 45px;
  }
  .blog .blog-container .blog-pre-posts span {
    font-size: 17px;
  }
  .blog .blog-container .blog-posts .post .post-container .post-title-img {
    height: 17rem;
  }
  .blog .blog-container .blog-posts .post .post-container .post-content {
    padding: 1rem 0 2rem;
  }
}
