@import url("https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round");
* {
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
}

body {
  background-image: linear-gradient(45deg, #e5ebef 0%, #ffffff 100%);
}

.features {
  padding-top: 10rem;
  padding-bottom: 7rem;
}

.features .features-container {
  width: 90%;
  margin: 0 auto;
}

.features .features-container .features-title h2 {
  margin: 0px;
  font-size: 60px;
  line-height: 1;
  color: #2b2f3a;
  font-family: "Varela Round";
}

.features .features-container .features-title span {
  color: #005bcf;
  font-size: 60px;
  line-height: 1;
}

.features .features-container .features-pre-cards {
  padding-top: 3rem;
  padding-bottom: 5rem;
  width: 40%;
}

.features .features-container .features-pre-cards span {
  font-size: 18px;
  line-height: 30px;
  color: #2b2f3a;
  font-family: "Open Sans";
}

.features .features-container .features-cards .features-row, .features .features-container .features-cards .last-row {
  margin-bottom: 2rem;
  display: flex;
}

.features .features-container .features-cards .features-row .features-card, .features .features-container .features-cards .last-row .features-card {
  min-width: 23%;
  max-width: 23%;
  margin-bottom: 1rem;
}

.features .features-container .features-cards .features-row .features-card .features-title, .features .features-container .features-cards .last-row .features-card .features-title {
  padding: 2rem;
  height: 16rem;
  border-radius: 3px;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(45deg, #eff3f6 0%, #ffffff 100%);
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features .features-container .features-cards .features-row .features-card .features-title .features-card-icon, .features .features-container .features-cards .last-row .features-card .features-title .features-card-icon {
  display: flex;
  align-items: center;
  height: 63px;
}

.features .features-container .features-cards .features-row .features-card .features-title .features-card-description, .features .features-container .features-cards .last-row .features-card .features-title .features-card-description {
  width: 65%;
}

.features .features-container .features-cards .features-row .features-card .features-title .features-card-description span, .features .features-container .features-cards .last-row .features-card .features-title .features-card-description span {
  font-size: 14px;
  line-height: 18px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: bold;
}

.features .features-container .features-cards .features-row .features-card .features-content, .features .features-container .features-cards .last-row .features-card .features-content {
  padding: 1rem;
}

.features .features-container .features-cards .features-row .features-card .features-content span, .features .features-container .features-cards .last-row .features-card .features-content span {
  font-size: 14px;
  line-height: 24px;
  color: #2b2f3a;
  font-family: "Open Sans";
}

.features .features-container .features-cards .features-row {
  justify-content: space-between;
}

.features .features-container .features-cards .last-row {
  justify-content: center;
}

.features .features-container .features-cards .last-row .features-card:first-child {
  margin-right: 3rem;
}

.features .features-container .see-pricing {
  text-align: center;
}

.features .features-container .see-pricing span {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 50px;
  color: #9da1a8;
  font-family: "Open Sans";
}

.features .features-container .see-pricing h3 {
  font-size: 48px;
  line-height: 48px;
  color: #2b2f3a;
  font-family: "Varela Round";
}

.features .features-container .see-pricing a {
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 50px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: bold;
}

.features .features-container .see-pricing a:after {
  content: "";
  background-image: url("../assets/icons/arrow_right.svg");
  display: inline-block;
  width: 30px;
  height: 10px;
  margin-left: 8px;
}

@media screen and (max-width: 1330px) {
  .features .features-container .features-cards .features-row .features-card .features-title .features-card-description {
    width: 65%;
  }
}

@media screen and (max-width: 1024px) {
  .features {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
  .features .features-container .features-pre-cards {
    width: 60%;
  }
  .features .features-container .features-cards .features-row .features-card .features-title .features-card-description, .features .features-container .features-cards .last-row .features-card .features-title .features-card-description {
    width: 90%;
  }
  .features .features-container .features-cards .features-row .features-card .features-content, .features .features-container .features-cards .last-row .features-card .features-content {
    padding: 1rem;
  }
  .features .features-container .features-cards .features-row .features-card .features-content span, .features .features-container .features-cards .last-row .features-card .features-content span {
    line-height: 1;
  }
}

@media screen and (max-width: 768px) {
  .features {
    padding-top: 7rem;
  }
  .features .features-container .features-cards .features-row {
    display: block;
    margin: 0;
  }
  .features .features-container .features-cards .features-row .features-card {
    display: inline-block;
    max-width: 46%;
    margin-bottom: 2rem;
  }
  .features .features-container .features-cards .features-row .features-card:nth-child(1), .features .features-container .features-cards .features-row .features-card:nth-child(3) {
    margin-right: 7.4%;
  }
  .features .features-container .features-cards .last-row {
    display: block;
  }
  .features .features-container .features-cards .last-row .features-card {
    display: inline-block;
    max-width: 46%;
  }
  .features .features-container .features-cards .last-row .features-card:nth-child(1) {
    margin-right: 7.4%;
  }
}

@media screen and (max-width: 414px) {
  .features {
    padding-top: 5rem;
  }
  .features .features-container {
    width: 100%;
  }
  .features .features-container .features-title h2 {
    font-size: 54px;
  }
  .features .features-container .features-title span {
    font-size: 54px;
  }
  .features .features-container .features-pre-cards {
    width: 100%;
  }
  .features .features-container .features-cards .features-row, .features .features-container .features-cards .last-row {
    display: block;
  }
  .features .features-container .features-cards .features-row .features-card, .features .features-container .features-cards .last-row .features-card {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .features .features-container .features-cards .features-row .features-card:nth-child(1), .features .features-container .features-cards .features-row .features-card:nth-child(3), .features .features-container .features-cards .last-row .features-card:nth-child(1), .features .features-container .features-cards .last-row .features-card:nth-child(3) {
    margin-bottom: 2rem;
  }
  .features .features-container .features-cards .features-row .features-card .features-title .features-card-description span, .features .features-container .features-cards .last-row .features-card .features-title .features-card-description span {
    font-size: 18px;
  }
  .features .features-container .features-cards .features-row .features-card .features-content span, .features .features-container .features-cards .last-row .features-card .features-content span {
    font-size: 16px;
  }
  .features .features-container .features-cards .last-row {
    display: block;
    margin-bottom: 1rem;
  }
  .features .features-container .features-cards .last-row .features-card {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .features .features-container .features-cards .last-row .features-card:nth-child(1) {
    margin-right: 0%;
    margin-bottom: 2rem;
  }
  .features .features-container .features-cards .last-row .features-card .features-title .features-card-description {
    width: 100%;
  }
  .features .features-container .see-pricing {
    padding-top: 1rem;
  }
  .features .features-container .see-pricing h3 {
    font-size: 38px;
  }
  .features .features-container .see-pricing span {
    line-height: 1;
  }
}

@media screen and (max-width: 375px) {
  .features .features-container .features-title h2 {
    font-size: 54px;
  }
  .features .features-container .features-title span {
    font-size: 54px;
  }
  .features .features-container .features-pre-cards {
    width: 100%;
  }
  .features .features-container .features-cards .features-row, .features .features-container .features-cards .last-row {
    display: block;
    margin-bottom: 1rem;
  }
  .features .features-container .features-cards .features-row .features-card, .features .features-container .features-cards .last-row .features-card {
    display: inline-block;
    max-width: 100%;
  }
  .features .features-container .features-cards .features-row .features-card:nth-child(1), .features .features-container .features-cards .features-row .features-card:nth-child(3), .features .features-container .features-cards .last-row .features-card:nth-child(1), .features .features-container .features-cards .last-row .features-card:nth-child(3) {
    margin-right: 0%;
  }
  .features .features-container .features-cards .features-row .features-card .features-title .features-card-description span, .features .features-container .features-cards .last-row .features-card .features-title .features-card-description span {
    font-size: 18px;
  }
  .features .features-container .features-cards .features-row .features-card .features-content span, .features .features-container .features-cards .last-row .features-card .features-content span {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .features .features-container .features-title h2 {
    font-size: 45px;
  }
  .features .features-container .features-title span {
    font-size: 45px;
  }
}
