@import url("https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round");
* {
  font-family: 'Varela Round', sans-serif;
}

body {
  background-image: linear-gradient(45deg, #e5ebef 0%, #ffffff 100%);
}

a {
  cursor: pointer;
}

.footer {
  background-color: #2d313c;
  padding: 15rem 0;
}

.footer .footer-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.footer .footer-container .footer-logo {
  width: 15%;
}

.footer .footer-container .footer-pages {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.footer .footer-container .footer-pages ul {
  padding: 0px;
  font-size: 16px;
  line-height: 36px;
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
  color: #ffffff;
  list-style: none;
}

.footer .footer-container .footer-pages ul li {
  line-height: 30px;
}

.footer .footer-container .footer-pages ul li a {
  font-size: 14px;
  color: #96989d;
}

.footer .footer-container .footer-socials {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 15%;
}

.footer .footer-container .footer-socials ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
  list-style: none;
  margin-bottom: 0px;
}

.footer .footer-container .footer-socials ul li {
  display: inline-block;
}

.footer .footer-container .footer-socials .swap-up {
  margin-left: auto;
}

.footer .footer-container .footer-socials .swap-up a {
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-content: center;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.footer .footer-copyright {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  letter-spacing: 0px;
  line-height: 36px;
  font-family: "Open Sans";
}

.footer .footer-copyright .copyright-company span {
  font-size: 12px;
  color: #96989d;
}

.footer .footer-copyright .copyright-links {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.footer .footer-copyright .copyright-links a {
  font-size: 12px;
  color: #96989d;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 10rem;
  }
  .footer .footer-copyright .copyright-links {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 5rem 0;
  }
  .footer .footer-copyright .copyright-links {
    width: 28%;
  }
}

@media screen and (max-width: 415px) {
  .footer .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-container .footer-logo {
    width: auto;
  }
  .footer .footer-container .footer-pages {
    padding: 5rem 0;
    width: 100%;
    display: block;
    text-align: center;
  }
  .footer .footer-container .footer-pages .product-pages ul, .footer .footer-container .footer-pages .company-pages ul, .footer .footer-container .footer-pages .resources-pages ul {
    font-size: 22px;
  }
  .footer .footer-container .footer-pages .product-pages ul li, .footer .footer-container .footer-pages .company-pages ul li, .footer .footer-container .footer-pages .resources-pages ul li {
    line-height: unset;
  }
  .footer .footer-container .footer-pages .product-pages ul li a, .footer .footer-container .footer-pages .company-pages ul li a, .footer .footer-container .footer-pages .resources-pages ul li a {
    font-size: 18px;
  }
  .footer .footer-container .footer-socials {
    width: 75%;
  }
  .footer .footer-container .footer-socials ul li img {
    height: 25px;
  }
  .footer .footer-container .footer-socials .swap-up {
    margin-top: 3rem;
    width: 100%;
  }
  .footer .footer-container .footer-socials .swap-up a {
    width: auto;
  }
  .footer .footer-copyright {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer .footer-copyright .copyright-company span {
    font-size: 13px;
  }
  .footer .footer-copyright .copyright-links {
    padding: 3rem;
    width: 75%;
  }
  .footer .footer-copyright .copyright-links a {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .footer .footer-copyright .copyright-company span {
    font-size: 12px;
  }
  .footer .footer-copyright .copyright-links {
    padding: 1rem 0rem;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .footer .footer-copyright .copyright-links a {
    font-size: 16px;
  }
  .footer .footer-copyright .copyright-company span {
    font-size: 15px;
  }
  .footer .footer-container .footer-pages .resources-pages ul {
    font-size: 18px;
  }
  .footer .footer-container .footer-pages .resources-pages ul li a {
    font-size: 16px;
  }
}
