@import url("https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round");
* {
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
}

body {
  background-image: linear-gradient(45deg, #e5ebef 0%, #ffffff 100%);
}

a {
  cursor: pointer;
}

.hero {
  text-align: center;
  margin-top: 10rem;
}

.hero .easiest-way-title h1 {
  font-size: 120px;
  line-height: 1;
  color: #2b2f3a;
}

.hero .easiest-way-title h1 span {
  font-size: inherit;
  color: #005bcf;
  position: relative;
}

.hero .easiest-way-title h1 span:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid;
  width: 100%;
  height: 10px;
  background-color: #005bcf;
}

.hero .get-started {
  margin-top: 9rem;
}

.hero .get-started .get-started-for-free span {
  font-weight: 600;
  font-size: 14px;
  line-height: 50px;
  color: #2b2f3a;
  font-family: "Open Sans";
}

.hero .get-started .get-started-button button {
  width: 180px;
  font-size: 16px;
  height: 52px;
  border: 1px solid #005bcf;
  border-radius: 3px;
  background-color: #005bcf;
  color: #ffffff;
}

.stats {
  padding-top: 15rem;
}

.stats .did-you-know {
  text-align: center;
}

.stats .did-you-know h3 {
  font-size: 30px;
  margin: 0;
  line-height: 1;
}

.stats .percent-blocks {
  margin: 6rem auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.stats .percent-blocks .percent-block {
  display: flex;
  width: 30%;
}

.stats .percent-blocks .percent-block .percent-number span {
  line-height: 0.65;
  font-size: 200px;
  color: #3abba3;
}

.stats .percent-blocks .percent-block .percent-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stats .percent-blocks .percent-block .percent-text .percent-symbol span {
  font-size: 48px;
  line-height: 0.2;
}

.stats .percent-blocks .percent-block .percent-text .percent-description {
  padding-left: 1rem;
}

.stats .percent-blocks .percent-block .percent-text .percent-description span {
  font-size: 16px;
  line-height: 1;
}

.stats .stats-button {
  text-align: center;
}

.stats .stats-button button {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 50px;
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
  width: 180px;
  height: 52px;
  border-radius: 3px;
  border: 1px solid #39bba3;
  background-color: #39bba3;
}

.features {
  padding-top: 15rem;
}

.features .features-container {
  padding: 10rem 0;
  margin: 0 auto;
  width: 90%;
  background-color: #fff;
}

.features .features-container .row {
  margin: 0;
}

.features .features-container .core-features span {
  font-size: 10px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3abba3;
  font-family: "Open Sans";
}

.features .features-container .features-title {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.features .features-container .features-title h2 {
  margin: 0px;
  font-size: 60px;
  line-height: 70px;
  color: #2b2f3a;
  font-family: "Varela Round";
}

.features .features-container .features-description {
  color: #aaabb0;
}

.features .features-container .features-description span {
  font-size: 18px;
  line-height: 30px;
  color: #aaabb0;
  font-family: "Open Sans";
}

.features .features-container .features-cards {
  margin: 8rem 0;
  display: flex;
}

.features .features-container .features-cards .features-card {
  min-width: 27%;
  margin-right: 3rem;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(45deg, #eff3f6 0%, #ffffff 100%);
  border: 1px solid #ffffff;
}

.features .features-container .features-cards .features-card:last-child {
  margin: 0;
}

.features .features-container .features-cards .features-card .features-card-icon {
  display: flex;
  align-items: center;
  height: 63px;
}

.features .features-container .features-cards .features-card .features-card-description {
  margin-top: 2rem;
}

.features .features-container .features-cards .features-card .features-card-description span {
  font-size: 14px;
  line-height: 18px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: bold;
}

.features .features-container .see-all-features a {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 50px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: bold;
}

.features .features-container .see-all-features a:after {
  content: "";
  background-image: url("../assets/icons/arrow_right.svg");
  display: inline-block;
  width: 30px;
  height: 10px;
  margin-left: 8px;
}

.blog {
  padding-top: 15rem;
}

.blog .blog-container {
  width: 90%;
  margin: 0 auto;
}

.blog .blog-container .blog-articles {
  margin-bottom: 1rem;
}

.blog .blog-container .blog-articles span {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 4px;
  color: #3abba3;
  font-family: "Open Sans";
  text-transform: uppercase;
}

.blog .blog-container .blog-title {
  width: 72%;
}

.blog .blog-container .blog-title h2 {
  margin-top: 0px;
  font-size: 60px;
  line-height: 70px;
  color: #2b2f3a;
  font-family: "Varela Round";
}

.blog .blog-container .blog-posts {
  display: flex;
  margin-top: 9rem;
  margin-bottom: 7rem;
  justify-content: space-between;
}

.blog .blog-container .blog-posts .post {
  width: 30%;
}

.blog .blog-container .blog-posts .post .post-title-img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20rem;
  border-radius: 3px;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
}

.blog .blog-container .blog-posts .post .post-title-img img {
  width: 100%;
  height: auto;
  position: relative;
}

.blog .blog-container .blog-posts .post .post-title-img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #39bba300;
}

.blog .blog-container .blog-posts .post .post-content {
  padding: 2rem;
}

.blog .blog-container .blog-posts .post .post-content .post-label {
  border-radius: 3px;
  background-color: #39bba3;
  display: inline-block;
  width: 44px;
  text-align: center;
}

.blog .blog-container .blog-posts .post .post-content .post-label span {
  font-size: 9px;
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
}

.blog .blog-container .blog-posts .post .post-content .post-date {
  display: inline-block;
}

.blog .blog-container .blog-posts .post .post-content .post-date span {
  font-size: 12px;
  letter-spacing: 0px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: 300;
}

.blog .blog-container .blog-posts .post .post-content .post-title h4 {
  font-size: 22px;
  line-height: 30px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: bold;
}

.blog .blog-container .blog-posts .post .post-content .post-description span {
  font-size: 15px;
  line-height: 24px;
  color: #888d94;
  font-family: "Open Sans";
}

.blog .blog-container .blog-posts .post .post-content .post-article a {
  color: #2b2f3a;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 50px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: bold;
}

.blog .blog-container .blog-posts .post:hover .post-title-img:after {
  background-color: #39bba390;
}

.blog .blog-container .blog-posts .post:hover .post-article a {
  text-decoration: none;
  color: #3abba3;
}

.blog .blog-container .read-all-posts a {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 50px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: bold;
}

.blog .blog-container .read-all-posts a:hover {
  text-decoration: none;
  color: #39bba3;
}

.blog .blog-container .read-all-posts a:after {
  content: "";
  background-image: url("../assets/icons/arrow_right.svg");
  display: inline-block;
  width: 30px;
  height: 10px;
  margin-left: 8px;
}

.cta {
  padding-top: 15rem;
  margin-bottom: 15rem;
}

.cta .cta-container {
  width: 90%;
  padding: 7rem 0;
  margin: 0 auto;
  background-image: linear-gradient(45deg, #005bcf 0%, rgba(13, 110, 234, 0.85098) 100%);
  color: #ffffff;
}

.cta .cta-container .cta-title h3 {
  font-size: 60px;
  line-height: 70px;
  font-family: "Varela Round";
}

.cta .cta-container .cta-description span {
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans";
}

.cta .cta-container .cta-form {
  margin-top: 4rem;
}

.cta .cta-container .cta-form .cta-form-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cta .cta-container .cta-form .cta-form-flex .form-group {
  margin: 0;
  width: 32%;
}

.cta .cta-container .cta-form .cta-form-flex .form-group label {
  display: block;
  font-size: 14px;
  font-weight: 100;
  font-family: "Open Sans";
}

.cta .cta-container .cta-form .cta-form-flex .form-group input {
  height: 6rem;
  border-radius: 3px;
  background-color: #0253bd;
  border: 1px solid #0147a3;
  color: #ffffff;
  font-size: 25px;
}

.cta .cta-container .cta-form .cta-form-flex button {
  height: 6rem;
  width: 32%;
  font-size: 16px;
  letter-spacing: 0px;
  font-family: "Open Sans";
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .hero .easiest-way-title h1 {
    font-size: 100px;
  }
  .stats .percent-blocks .percent-block .percent-number span {
    font-size: 140px;
  }
  .stats .percent-blocks .percent-block .percent-text .percent-symbol span {
    font-size: 30px;
  }
  .features .features-container {
    padding: 5rem 0;
  }
  .features .features-container .features-cards {
    margin: 4rem 0rem;
  }
  .features .features-container .features-cards .features-card {
    min-width: 26%;
  }
  .blog {
    padding-top: 10rem;
  }
  .blog .blog-container .blog-title {
    width: 100%;
  }
  .blog .blog-container .blog-posts {
    margin-top: 6rem;
    margin-bottom: 2rem;
  }
  .blog .blog-container .blog-posts .post .post-title-img {
    height: 18rem;
  }
  .cta {
    padding-top: 6rem;
    margin-bottom: 7rem;
  }
  .cta .cta-container {
    padding: 3rem 0rem;
  }
}

@media screen and (max-width: 768px) {
  .hero .easiest-way-title h1 {
    font-size: 77px;
  }
  .stats {
    padding-top: 10rem;
  }
  .stats .percent-blocks {
    flex-direction: column;
  }
  .stats .percent-blocks .percent-block {
    width: 55%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .stats .percent-blocks .percent-block:last-child {
    margin-bottom: 0;
  }
  .stats .percent-blocks .percent-block .percent-number span {
    font-size: 180px;
  }
  .stats .percent-blocks .percent-block .percent-text .percent-symbol span {
    font-size: 48px;
  }
  .features {
    padding-top: 10rem;
  }
  .features .features-container .features-cards {
    display: block;
    margin: 5rem 0;
  }
  .features .features-container .features-cards .features-card {
    display: inline-block;
    width: 48%;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }
  .features .features-container .features-cards .features-card:nth-child(2) {
    margin-right: 0;
  }
  .features .features-container .features-cards .features-card:last-child {
    margin-right: 0;
  }
  .blog {
    padding-top: 10rem;
  }
  .blog .blog-container .blog-title h2 {
    font-size: 48px;
  }
  .blog .blog-container .blog-posts {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  .blog .blog-container .blog-posts .post .post-title-img {
    height: 13rem;
  }
  .blog .blog-container .blog-posts .post .post-content {
    padding: 1rem;
  }
  .cta .cta-container {
    padding: 5rem 0;
  }
  .cta .cta-container .cta-card .cta-description {
    margin-bottom: 3rem;
  }
  .cta .cta-container .cta-card .cta-form .cta-form-flex .form-group input {
    height: 5rem;
  }
  .cta .cta-container .cta-card .cta-form .cta-form-flex button {
    height: 5rem;
  }
}

@media screen and (max-width: 415px) {
  .hero .easiest-way-title h1 {
    font-size: 40px;
  }
  .hero .easiest-way-title h1 span:after {
    height: 2px;
  }
  .stats .percent-blocks .percent-block {
    width: 100%;
  }
  .features .features-container {
    width: 100%;
  }
  .features .features-container .features-title h2 {
    font-size: 32px;
    line-height: 1.3;
  }
  .features .features-container .features-description span {
    font-size: 16px;
    line-height: 26px;
  }
  .features .features-container .features-cards .features-card {
    width: 100%;
    margin-right: 0;
  }
  .blog .blog-container .blog-title h2 {
    font-size: 32px;
    line-height: 1.3;
  }
  .blog .blog-container .blog-posts {
    flex-direction: column;
    margin-bottom: 0rem;
  }
  .blog .blog-container .blog-posts .post {
    margin-bottom: 2rem;
    width: 100%;
  }
  .blog .blog-container .blog-posts .post .post-title-img {
    height: 18rem;
  }
  .blog .blog-container .blog-posts .post .post-content {
    padding: 1rem 0;
  }
  .cta .cta-container {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 4rem;
  }
  .cta .cta-container .cta-card {
    padding: 0 1.5rem;
  }
  .cta .cta-container .cta-card .cta-title h3 {
    font-size: 32px;
    line-height: 1.3;
  }
  .cta .cta-container .cta-card .cta-form .cta-form-flex {
    flex-direction: column;
    align-items: left;
  }
  .cta .cta-container .cta-card .cta-form .cta-form-flex .form-group {
    margin-bottom: 2rem;
    width: 100%;
  }
  .cta .cta-container .cta-card .cta-form .cta-form-flex button {
    width: 100%;
  }
}

@media screen and (max-width: 376px) {
  .features .features-container .features-title h2 {
    font-size: 28px;
    line-height: 1.2;
  }
  .features .features-container .features-description span {
    font-size: 14px;
  }
  .features .features-container .features-cards .features-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .features .features-container .features-cards .features-card .features-card-icon {
    margin-right: 1rem;
  }
  .blog .blog-container {
    width: 100%;
  }
  .blog .blog-container .blog-title h2 {
    font-size: 27px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 320px) {
  .stats .percent-blocks .percent-block .percent-number span {
    font-size: 150px;
  }
  .stats .percent-blocks .percent-block .percent-text .percent-symbol span {
    font-size: 30px;
  }
  .stats .percent-blocks .percent-block .percent-text .percent-description span {
    font-size: 14px;
  }
  .features .features-container .features-title h2 {
    font-size: 23px;
  }
  .features .features-container .features-cards .features-card {
    flex-direction: column;
  }
  .blog .blog-container .blog-title h2 {
    font-size: 23px;
  }
  .cta {
    padding-top: 5rem;
  }
  .cta .cta-container {
    padding: 3rem 0;
  }
}
