@import url("https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
}

.circle_no {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(58, 187, 163, 0);
  border: 1px solid #39bba3;
}

.circle_yes {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #39bba3;
  border: 1px solid #39bba3;
}

.pricing .pricing-wrapper .pricing-title h2 {
  font-size: 60px;
  line-height: 1;
  color: #2b2f3a;
}

.pricing .pricing-wrapper .pricing-title span {
  font-size: 60px;
  color: #005bcf;
  line-height: 1;
  line-height: 60px;
}

.pricing .pricing-wrapper .contact-us-card {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.pricing .pricing-wrapper .contact-us-card .card-description {
  display: flex;
}

.pricing .pricing-wrapper .contact-us-card .card-description .card-text span {
  font-size: 16px;
  line-height: 24px;
  color: #2b2f3a;
  font-family: "Open Sans";
}

.pricing .pricing-wrapper .contact-us-card .card-button button {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 50px;
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
  width: 180px;
  height: 52px;
  border-radius: 3px;
  border: 1px solid #39bba3;
  background-color: #39bba3;
}

.pricing .pricing-wrapper .basic-plan {
  text-align: center;
}

.pricing .pricing-wrapper .biling-interval {
  text-align: center;
}

.pricing .pricing-wrapper .plan-cards {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.pricing .pricing-wrapper .plan-cards .plan-card {
  border-radius: 3px;
  background-color: #ffffff;
}

.pricing .pricing-wrapper .plan-cards .plan-card:nth-child(1) {
  border-left: 5px solid #2b2f39;
}

.pricing .pricing-wrapper .plan-cards .plan-card:nth-child(2) {
  border-left: 5px solid #39bba3;
}

.pricing .pricing-wrapper .plan-cards .plan-card:nth-child(3) {
  border-left: 5px solid #005bcf;
}

.pricing .pricing-wrapper .plans-table {
  width: 90%;
  margin: 0 auto;
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table thead tr th {
  border-bottom: 0px;
  font-size: 24px;
  line-height: 30px;
  font-family: "Varela Round";
  font-weight: 100;
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table thead tr th:nth-child(2) {
  color: #2b2f3a;
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table thead tr th:nth-child(3) {
  color: #3abba3;
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table thead tr th:nth-child(4) {
  color: #005bcf;
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table tbody {
  background-color: #fff;
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table tbody tr {
  height: 60px;
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table tbody tr:nth-child(1) td, .pricing .pricing-wrapper .plans-table .plans-table-wrapper table tbody tr:nth-child(2) td {
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: 800;
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table tbody tr td {
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  color: #2b2f3a;
  font-family: "Open Sans";
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table tbody tr td:nth-child(1) {
  font-size: 16px;
  line-height: 18px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: bold;
}

.pricing .pricing-wrapper .check {
  text-align: center;
}

.pricing .pricing-wrapper .check .check-text span {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 50px;
  color: #888d94;
  font-family: "Open Sans";
  text-align: center;
}

.pricing .pricing-wrapper .check .check-title {
  margin: 0 auto;
}

.pricing .pricing-wrapper .check .check-title h3 {
  margin: 0;
  font-size: 48px;
  line-height: 48px;
  color: #2b2f3a;
  font-family: "Varela Round";
  text-align: center;
}

.pricing .pricing-wrapper .check .see-all-features a {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 50px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: bold;
}

.pricing .pricing-wrapper .check .see-all-features a:after {
  content: "";
  background-image: url("../assets/icons/arrow_right.svg");
  display: inline-block;
  width: 30px;
  height: 10px;
  margin-left: 8px;
}
