@import url("https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round");
* {
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
}

.circle_no {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(58, 187, 163, 0);
  border: 1px solid #39bba3;
}

.circle_yes {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #39bba3;
  border: 1px solid #39bba3;
}

.contact-us-modal {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 1000;
  background-color: #0000009c;
  overflow: auto;
}

.contact-us-modal .modal-container {
  height: max-content;
  margin: 10rem auto;
  width: 971px;
  padding: 3rem 5rem 10rem;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.contact-us-modal .modal-container .thanks-icon {
  text-align: center;
  padding-top: 4rem;
}

.contact-us-modal .modal-container .thanks-title {
  text-align: center;
  padding: 5rem 0rem 4rem;
}

.contact-us-modal .modal-container .thanks-title span {
  font-size: 36px;
  line-height: 1;
  color: #2b2f3a;
  font-family: "Varela Round";
}

.contact-us-modal .modal-container .thanks-description {
  text-align: center;
}

.contact-us-modal .modal-container .thanks-description span {
  font-size: 24px;
  line-height: 60px;
  color: #9c9ea3;
  font-family: "Varela Round";
}

.contact-us-modal .modal-container .modal-close {
  margin: 0rem -2rem;
  text-align: right;
  cursor: pointer;
}

.contact-us-modal .modal-container .contact-title {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 7rem;
}

.contact-us-modal .modal-container .contact-title span {
  font-size: 60px;
  line-height: 1;
  color: #2b2f3a;
  font-family: "Varela Round";
}

.contact-us-modal .modal-container .contact-form .first-flex-wrapper, .contact-us-modal .modal-container .contact-form .second-flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.contact-us-modal .modal-container .contact-form .first-flex-wrapper .form-group, .contact-us-modal .modal-container .contact-form .second-flex-wrapper .form-group {
  width: 48%;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  margin: 0;
}

.contact-us-modal .modal-container .contact-form .first-flex-wrapper .form-group label, .contact-us-modal .modal-container .contact-form .second-flex-wrapper .form-group label {
  font-size: 13px;
  line-height: 1;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: 400;
  padding-bottom: 5px;
}

.contact-us-modal .modal-container .contact-form .first-flex-wrapper .form-group input, .contact-us-modal .modal-container .contact-form .first-flex-wrapper .form-group select, .contact-us-modal .modal-container .contact-form .first-flex-wrapper .form-group textarea, .contact-us-modal .modal-container .contact-form .second-flex-wrapper .form-group input, .contact-us-modal .modal-container .contact-form .second-flex-wrapper .form-group select, .contact-us-modal .modal-container .contact-form .second-flex-wrapper .form-group textarea {
  padding-left: 2rem;
  padding-right: 2rem;
  height: 6rem;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid rgba(43, 47, 58, 0.15);
  font-size: 16px;
  line-height: 1;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: bold;
}

.contact-us-modal .modal-container .contact-form .first-flex-wrapper .form-group input:focus, .contact-us-modal .modal-container .contact-form .first-flex-wrapper .form-group select:focus, .contact-us-modal .modal-container .contact-form .first-flex-wrapper .form-group textarea:focus, .contact-us-modal .modal-container .contact-form .second-flex-wrapper .form-group input:focus, .contact-us-modal .modal-container .contact-form .second-flex-wrapper .form-group select:focus, .contact-us-modal .modal-container .contact-form .second-flex-wrapper .form-group textarea:focus {
  background-color: #f3f5f7;
  border: 2px solid #005bcf;
}

.contact-us-modal .modal-container .contact-form .form-group label {
  font-size: 13px;
  line-height: 1;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: 400;
  padding-bottom: 5px;
}

.contact-us-modal .modal-container .contact-form .form-group textarea {
  resize: none;
  height: 182px;
  padding: 1rem;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid rgba(43, 47, 58, 0.15);
  font-size: 16px;
  line-height: 1;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: bold;
}

.contact-us-modal .modal-container .contact-form .form-group textarea:focus {
  background-color: #f3f5f7;
  border: 2px solid #005bcf;
}

.contact-us-modal .modal-container .contact-form button {
  width: 100%;
  border: 1px solid #39bba3;
  height: 6rem;
  border-radius: 3px;
  background-color: #39bba3;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1;
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
}

.pricing .pricing-wrapper .pricing-title {
  width: 90%;
  margin: 0 auto;
  margin-top: 15rem;
  margin-bottom: 5rem;
}

.pricing .pricing-wrapper .pricing-title h2 {
  margin: 0;
  font-size: 60px;
  line-height: 60px;
  color: #2b2f3a;
}

.pricing .pricing-wrapper .pricing-title span {
  font-size: 60px;
  color: #005bcf;
  line-height: 60px;
  line-height: 60px;
}

.pricing .pricing-wrapper .contact-us-card {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 3rem;
}

.pricing .pricing-wrapper .contact-us-card .card-description {
  width: 32%;
  display: flex;
}

.pricing .pricing-wrapper .contact-us-card .card-description .card-icon {
  margin-top: 3px;
  margin-right: 3rem;
}

.pricing .pricing-wrapper .contact-us-card .card-description .card-text span {
  font-size: 16px;
  line-height: 24px;
  color: #2b2f3a;
  font-family: "Open Sans";
}

.pricing .pricing-wrapper .contact-us-card .card-button {
  margin: auto 0;
}

.pricing .pricing-wrapper .contact-us-card .card-button button {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 50px;
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
  width: 180px;
  height: 52px;
  border-radius: 3px;
  border: 1px solid #39bba3;
  background-color: #39bba3;
}

.pricing .pricing-wrapper .basic-plan {
  padding: 8rem 0;
  text-align: center;
}

.pricing .pricing-wrapper .basic-plan .basic-plan-title {
  text-align: center;
}

.pricing .pricing-wrapper .basic-plan .basic-plan-title .title-text {
  display: inline-block;
}

.pricing .pricing-wrapper .basic-plan .basic-plan-title .title-text span {
  margin: 0;
  font-size: 36px;
  line-height: 1;
  color: #2b2f3a;
  font-family: "Varela Round";
}

.pricing .pricing-wrapper .basic-plan .basic-plan-title .title-lable {
  display: inline-block;
}

.pricing .pricing-wrapper .basic-plan .basic-plan-title .title-lable span {
  display: block;
  width: 44px;
  line-height: 2;
  border-radius: 3px;
  background-color: #39bba3;
  font-size: 11px;
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
  text-align: center;
}

.pricing .pricing-wrapper .basic-plan .basic-plan-description {
  padding: 1rem 0rem 1.5rem;
}

.pricing .pricing-wrapper .basic-plan .basic-plan-description span {
  font-size: 14px;
  line-height: 30px;
  color: #2b2f3a;
  font-family: "Open Sans";
}

.pricing .pricing-wrapper .basic-plan .basic-plan-description span:nth-child(2) {
  font-weight: bold;
}

.pricing .pricing-wrapper .basic-plan .basic-plan-description span:nth-child(3) {
  font-weight: bold;
  color: #005bcf;
}

.pricing .pricing-wrapper .basic-plan .basic-plan-description span:nth-child(4) {
  font-weight: bold;
}

.pricing .pricing-wrapper .basic-plan .basic-plan-button button {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 50px;
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
  width: 273px;
  height: 52px;
  border: 1px solid #2b2f39;
  border-radius: 3px;
  background-color: #2b2f39;
}

.pricing .pricing-wrapper .billing-interval {
  padding: 0 0 15rem;
  display: flex;
  justify-content: space-around;
}

.pricing .pricing-wrapper .billing-interval .billing-interval-wrapper {
  display: block;
}

.pricing .pricing-wrapper .billing-interval .billing-interval-wrapper label {
  display: block;
  font-size: 13px;
  line-height: 30px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
}

.pricing .pricing-wrapper .billing-interval .billing-interval-wrapper select {
  padding: 2rem;
  width: 420px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid rgba(43, 47, 58, 0.15);
  font-size: 16px;
  line-height: 30px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: bold;
}

.pricing .pricing-wrapper .plan-cards {
  background-color: #ffffff;
  margin: 0 -15px;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
  transform: translateY(-10rem);
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
  padding: 4rem 0rem;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card:nth-child(1) {
  border-left: 5px solid #2b2f39;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card:nth-child(2) {
  border-left: 5px solid #39bba3;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card:nth-child(2) .card-title h3 {
  color: #39bba3;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card:nth-child(2) .card-features ul {
  color: #39bba3;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card:nth-child(2) .card-features ul li {
  color: #2b2f3a;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card:nth-child(3) {
  border-left: 5px solid #005bcf;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card:nth-child(3) .card-title h3 {
  color: #005bcf;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card:nth-child(3) .card-features ul {
  color: #005bcf;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card:nth-child(3) .card-features ul li {
  color: #2b2f3a;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-title h3 {
  margin: 0;
  font-size: 36px;
  line-height: 1;
  color: #2b2f3a;
  font-family: "Varela Round";
  text-align: center;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-cost {
  padding: 4rem 0;
  text-align: center;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-cost .or {
  padding: 2rem 0;
  font-size: 14px;
  line-height: 1;
  color: #95979c;
  font-family: "Open Sans";
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-cost .manthly-cost {
  display: flex;
  justify-content: center;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-cost .manthly-cost .cost-symbol {
  color: #95979c;
  font-size: 18px;
  line-height: 0.8;
  font-family: "Open Sans";
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-cost .manthly-cost .cost-value {
  font-size: 30px;
  line-height: 0.8;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: 800;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-cost .manthly-cost .cost-name {
  font-size: 14px;
  line-height: 0.8;
  color: #2b2f3a;
  font-family: "Open Sans";
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-cost .annually-cost {
  display: flex;
  justify-content: center;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-cost .annually-cost .cost-symbol {
  color: #95979c;
  font-size: 18px;
  line-height: 0.8;
  font-family: "Open Sans";
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-cost .annually-cost .cost-value {
  font-size: 48px;
  line-height: 0.8;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: 800;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-cost .annually-cost .mo {
  font-size: 24px;
  line-height: 0.8;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: 800;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-cost .annually-cost .cost-name {
  text-align: left;
  font-size: 14px;
  line-height: 1.3;
  color: #2b2f3a;
  font-family: "Open Sans";
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-cost .annually-cost .cost-name:after {
  content: "Includes 1 Month Free";
  display: block;
  font-size: 13px;
  line-height: 1.2;
  color: #3abba3;
  font-family: "Open Sans";
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-features {
  border-top: 1px dashed #cacbce;
  padding: 3rem 3rem 3rem 3rem;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-features .features-title {
  padding-bottom: 1rem;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-features .features-title span {
  font-size: 10px;
  letter-spacing: 4px;
  color: #2b2f3a;
  font-family: "Open Sans";
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-features ul {
  padding: 0;
  font-size: 14px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: bold;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .card-features ul li {
  list-style: none;
  font-weight: normal;
  line-height: 30px;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .choose-card {
  margin-top: auto;
  padding: 0 3rem;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .choose-card button {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 50px;
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 52px;
  border-radius: 3px;
  background-color: #2b2f39;
  border: 1px solid #2b2f39;
  transition: background-color 0.2s, border 0.2s;
}

.pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card .choose-card button:hover {
  border: #3abba3;
  background-color: #3abba3;
}

.pricing .pricing-wrapper .plans-table {
  width: 90%;
  margin: 0 auto;
  padding-top: 13rem;
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table thead tr th {
  border-bottom: 0px;
  font-size: 24px;
  line-height: 4;
  font-family: "Varela Round";
  font-weight: 100;
  padding: 0;
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table thead tr th:nth-child(1) {
  width: 40%;
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table thead tr th:nth-child(2) {
  color: #2b2f3a;
  width: 15%;
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table thead tr th:nth-child(3) {
  color: #3abba3;
  width: 25%;
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table thead tr th:nth-child(4) {
  color: #005bcf;
  width: 20%;
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table tbody {
  background-color: #fff;
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table tbody tr {
  height: 60px;
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table tbody tr:nth-child(1) td, .pricing .pricing-wrapper .plans-table .plans-table-wrapper table tbody tr:nth-child(2) td {
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: 800;
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table tbody tr td {
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  color: #2b2f3a;
  font-family: "Open Sans";
}

.pricing .pricing-wrapper .plans-table .plans-table-wrapper table tbody tr td:nth-child(1) {
  font-size: 16px;
  line-height: 18px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: bold;
}

.pricing .pricing-wrapper .check {
  text-align: center;
  padding: 10rem 0rem;
}

.pricing .pricing-wrapper .check .check-text span {
  font-size: 18px;
  letter-spacing: 0px;
  color: #888d94;
  font-family: "Open Sans";
  text-align: center;
}

.pricing .pricing-wrapper .check .check-title {
  width: 20%;
  margin: 4rem auto;
}

.pricing .pricing-wrapper .check .check-title h3 {
  margin: 0;
  font-size: 48px;
  color: #2b2f3a;
  font-family: "Varela Round";
  text-align: center;
}

.pricing .pricing-wrapper .check .see-all-features a {
  font-size: 14px;
  letter-spacing: 0px;
  color: #2b2f3a;
  font-family: "Open Sans";
  font-weight: bold;
}

.pricing .pricing-wrapper .check .see-all-features a:after {
  content: "";
  background-image: url("../assets/icons/arrow_right.svg");
  display: inline-block;
  width: 30px;
  height: 10px;
  margin-left: 8px;
}

@media screen and (max-width: 1600px) {
  .pricing .pricing-wrapper .contact-us-card .card-description {
    width: 39%;
  }
}

@media screen and (max-width: 1360px) {
  .pricing .pricing-wrapper .contact-us-card .card-description {
    width: 47%;
  }
  .pricing .pricing-wrapper .billing-interval {
    padding: 0 0 10rem;
  }
  .pricing .pricing-wrapper .plan-cards .plan-cards-wrapper {
    transform: translateY(-6rem);
  }
  .pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card {
    width: 31%;
  }
}

@media screen and (max-width: 1024px) {
  .pricing .pricing-wrapper .pricing-title {
    width: 95%;
    margin: 10rem auto 5rem;
  }
  .pricing .pricing-wrapper .contact-us-card {
    width: 95%;
  }
  .pricing .pricing-wrapper .contact-us-card .card-description {
    width: 63%;
  }
  .pricing .pricing-wrapper .basic-plan {
    padding: 6rem 0;
  }
  .pricing .pricing-wrapper .plan-cards .plan-cards-wrapper {
    width: 95%;
  }
  .pricing .pricing-wrapper .plans-table {
    width: 95%;
    padding-top: 6rem;
  }
  .pricing .pricing-wrapper .check {
    padding: 5rem 0;
  }
  .pricing .pricing-wrapper .check .check-title {
    width: 30%;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 768px) {
  .contact-us-modal .modal-container {
    width: 100%;
    margin: 9rem 0;
  }
  .pricing .pricing-wrapper .pricing-title {
    width: 100%;
  }
  .pricing .pricing-wrapper .contact-us-card {
    width: 100%;
  }
  .pricing .pricing-wrapper .billing-interval {
    padding: 0 0 10rem;
  }
  .pricing .pricing-wrapper .plan-cards .plan-cards-wrapper {
    transform: translateY(-5rem);
    display: block;
  }
  .pricing .pricing-wrapper .plan-cards .plan-cards-wrapper .plan-card {
    width: 100%;
    margin-bottom: 3rem;
  }
  .pricing .pricing-wrapper .plans-table {
    padding-top: 3rem;
  }
  .pricing .pricing-wrapper .plans-table .plans-table-wrapper table thead tr th {
    line-height: 3;
    font-size: 19px;
  }
  .pricing .pricing-wrapper .plans-table .plans-table-wrapper table thead tr th:nth-child(1) {
    width: 30%;
  }
  .pricing .pricing-wrapper .check {
    padding: 3rem 0;
  }
  .pricing .pricing-wrapper .check .check-title {
    width: 40%;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 414px) {
  .contact-us-modal .modal-container {
    margin: 0;
    padding: 1.5rem;
  }
  .contact-us-modal .modal-container .modal-close {
    margin: 0;
  }
  .contact-us-modal .modal-container .contact-title {
    padding: 1rem 0 3rem;
  }
  .contact-us-modal .modal-container .contact-form .first-flex-wrapper, .contact-us-modal .modal-container .contact-form .second-flex-wrapper {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .contact-us-modal .modal-container .contact-form .first-flex-wrapper .form-group, .contact-us-modal .modal-container .contact-form .second-flex-wrapper .form-group {
    width: 100%;
    padding: 0;
    margin-bottom: 1rem;
  }
  .pricing .pricing-wrapper .pricing-title {
    margin: 4rem auto 3rem;
  }
  .pricing .pricing-wrapper .contact-us-card {
    padding: 2rem;
    flex-direction: column;
  }
  .pricing .pricing-wrapper .contact-us-card .card-description {
    width: 100%;
  }
  .pricing .pricing-wrapper .contact-us-card .card-description .card-icon {
    margin-right: 1rem;
  }
  .pricing .pricing-wrapper .contact-us-card .card-button {
    text-align: center;
    margin-top: 2rem;
  }
  .pricing .pricing-wrapper .contact-us-card .card-button button {
    width: 273px;
  }
  .pricing .pricing-wrapper .basic-plan {
    padding: 3rem 0;
  }
  .pricing .pricing-wrapper .billing-interval .billing-interval-wrapper {
    width: 100%;
  }
  .pricing .pricing-wrapper .billing-interval .billing-interval-wrapper select {
    width: 100%;
  }
  .pricing .pricing-wrapper .plan-cards .plan-cards-wrapper {
    width: 100%;
  }
  .pricing .pricing-wrapper .plans-table {
    width: 100%;
    overflow: hidden;
  }
  .pricing .pricing-wrapper .plans-table .plans-table-wrapper {
    overflow-x: scroll;
  }
  .pricing .pricing-wrapper .plans-table .plans-table-wrapper table {
    width: 700px;
    margin: 0;
  }
  .pricing .pricing-wrapper .check .check-title {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .pricing .pricing-wrapper .pricing-title h2 {
    font-size: 55px;
  }
  .pricing .pricing-wrapper .pricing-title span {
    font-size: 55px;
  }
}

@media screen and (max-width: 320px) {
  .contact-us-modal .modal-container .contact-title span {
    font-size: 50px;
  }
  .contact-us-modal .modal-container .contact-form .first-flex-wrapper .form-group input, .contact-us-modal .modal-container .contact-form .first-flex-wrapper .form-group select, .contact-us-modal .modal-container .contact-form .second-flex-wrapper .form-group input, .contact-us-modal .modal-container .contact-form .second-flex-wrapper .form-group select {
    height: 5rem;
  }
  .pricing .pricing-wrapper .pricing-title {
    margin: 1rem auto 4rem;
  }
  .pricing .pricing-wrapper .pricing-title h2 {
    font-size: 45px;
  }
  .pricing .pricing-wrapper .pricing-title span {
    font-size: 45px;
  }
}
