@import url('https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round')
*
    font-family: 'Varela Round', sans-serif
    font-size: 14px

.circle_no
    width: 10px
    height: 10px
    border-radius: 5px
    background-color: rgba(58,187,163,0)
    border: 1px solid #39bba3

.circle_yes
    width: 10px
    height: 10px
    border-radius: 5px
    background-color: #39bba3
    border: 1px solid #39bba3

.contact-us-modal
    position: fixed
    width: 100%
    min-height: 100vh
    height: 100%
    z-index: 1000
    background-color: #0000009c
    overflow: auto
    .modal-container
        height: max-content
        margin: 10rem auto
        width: 971px
        padding: 3rem 5rem 10rem
        border-radius: 3px
        border: 1px solid transparent
        box-shadow: 0px 15px 50px rgba(0,0,0,0.1)
        background-color: #ffffff
        .thanks-icon
            text-align: center
            padding-top: 4rem
        .thanks-title
            text-align: center
            padding: 5rem 0rem 4rem
            span
                font-size: 36px
                line-height: 1
                color: rgb(43,47,58)
                font-family: "Varela Round"
        .thanks-description
            text-align: center
            span
                font-size: 24px
                line-height: 60px
                color: rgb(156, 158, 163)
                font-family: "Varela Round"
        .modal-close
            margin: 0rem -2rem
            text-align: right
            cursor: pointer
        .contact-title
            text-align: center
            padding-top: 4rem
            padding-bottom: 7rem
            span
                font-size: 60px
                line-height: 1
                color: rgb(43,47,58)
                font-family: "Varela Round"
        .contact-form
            .first-flex-wrapper, .second-flex-wrapper
                display: flex
                justify-content: space-between
                .form-group
                    width: 48%
                    display: flex
                    flex-direction: column
                    padding-bottom: 3rem
                    margin: 0
                    label
                        font-size: 13px
                        line-height: 1
                        color: rgb(43,47,58)
                        font-family: "Open Sans"
                        font-weight: 400
                        padding-bottom: 5px
                    input, select, textarea
                        padding-left: 2rem
                        padding-right: 2rem
                        height: 6rem
                        border-radius: 3px
                        background-color: #ffffff
                        border: 1px solid rgba(43,47,58,0.15)
                        font-size: 16px
                        line-height: 1
                        color: rgb(43,47,58)
                        font-family: "Open Sans"
                        font-weight: bold

                        &:focus
                            background-color: #f3f5f7
                            border: 2px solid #005bcf
            .form-group
                label
                    font-size: 13px
                    line-height: 1
                    color: rgb(43,47,58)
                    font-family: "Open Sans"
                    font-weight: 400
                    padding-bottom: 5px
                textarea
                    resize: none
                    height: 182px
                    padding: 1rem
                    border-radius: 3px
                    background-color: #ffffff
                    border: 1px solid rgba(43,47,58,0.15)
                    font-size: 16px
                    line-height: 1
                    color: rgb(43,47,58)
                    font-family: "Open Sans"
                    font-weight: bold
                    &:focus
                        background-color: #f3f5f7
                        border: 2px solid #005bcf
            button
                width: 100%
                border: 1px solid #39bba3
                height: 6rem
                border-radius: 3px
                background-color: #39bba3
                font-size: 16px
                letter-spacing: 0px
                line-height: 1
                color: rgb(255,255,255)
                font-family: "Open Sans"
                font-weight: bold

.pricing
    .pricing-wrapper
        .pricing-title
            width: 90%
            margin: 0 auto
            margin-top: 15rem
            margin-bottom: 5rem
            h2
                margin: 0
                font-size: 60px
                line-height: 60px
                color: rgb(43,47,58)
            span
                font-size: 60px
                color: #005bcf
                line-height: 60px 
                line-height: 60px
        .contact-us-card
            width: 90%
            margin: 0 auto
            display: flex
            justify-content: space-between
            background-color: #ffffff
            padding: 3rem
            .card-description
                width: 32%
                display: flex
                .card-icon
                    margin-top: 3px
                    margin-right: 3rem
                    img
                .card-text
                    span
                        font-size: 16px
                        line-height: 24px
                        color: rgb(43,47,58)
                        font-family: "Open Sans"
            .card-button
                margin: auto 0
                button
                    font-size: 16px
                    letter-spacing: 0px
                    line-height: 50px
                    color: rgb(255,255,255)
                    font-family: "Open Sans"
                    font-weight: bold
                    width: 180px
                    height: 52px
                    border-radius: 3px
                    border: 1px solid #39bba3 
                    background-color: #39bba3
        .basic-plan
            padding: 8rem 0
            text-align: center
            .basic-plan-title
                text-align: center
                .title-text
                    display: inline-block
                    span
                        margin: 0
                        font-size: 36px
                        line-height: 1
                        color: rgb(43,47,58)
                        font-family: "Varela Round"
                .title-lable
                    display: inline-block
                    span
                        display: block
                        width: 44px
                        line-height: 2
                        border-radius: 3px
                        background-color: #39bba3
                        font-size: 11px
                        color: rgb(255,255,255)
                        font-family: "Open Sans"
                        font-weight: bold
                        text-align: center
            .basic-plan-description
                padding: 1rem 0rem 1.5rem
                span
                    font-size: 14px
                    line-height: 30px
                    color: rgb(43,47,58)
                    font-family: "Open Sans"
                    &:nth-child(2)
                        font-weight: bold
                    &:nth-child(3)
                        font-weight: bold
                        color: #005bcf
                    &:nth-child(4)
                        font-weight: bold
            .basic-plan-button
                button
                    font-size: 16px
                    letter-spacing: 0px
                    line-height: 50px
                    color: rgb(255,255,255)
                    font-family: "Open Sans"
                    font-weight: bold
                    width: 273px
                    height: 52px
                    border: 1px solid #2b2f39
                    border-radius: 3px
                    background-color: #2b2f39
        .billing-interval
            padding: 0 0 15rem
            display: flex
            justify-content: space-around
            .billing-interval-wrapper
                display: block
                label
                    display: block
                    font-size: 13px
                    line-height: 30px
                    color: rgb(43,47,58)
                    font-family: "Open Sans"
                    font-weight: 400
                    margin: 0
                select
                    padding: 2rem
                    width: 420px
                    border-radius: 3px
                    background-color: #ffffff
                    border: 1px solid rgba(43,47,58,0.15)
                    font-size: 16px
                    line-height: 30px
                    color: rgb(43,47,58)
                    font-family: "Open Sans"
                    font-weight: bold
        .plan-cards
            background-color: #ffffff
            margin: 0 -15px
            .plan-cards-wrapper
                width: 90%
                margin: 0 auto
                padding: 0 15px 0 15px
                display: flex
                justify-content: space-between
                position: relative
                transform: translateY(-10rem)
                .plan-card
                    display: flex
                    flex-direction: column
                    width: 30%
                    border-radius: 3px
                    background-color: #ffffff
                    box-shadow: 0px 15px 50px rgba(0,0,0,0.1)
                    padding: 4rem 0rem
                    &:nth-child(1)
                        border-left: 5px solid #2b2f39
                    &:nth-child(2)
                        border-left: 5px solid #39bba3
                        .card-title
                            h3
                                color: #39bba3
                        .card-features
                            ul
                                color: #39bba3
                                li
                                    color: rgb(43,47,58)

                    &:nth-child(3)
                        border-left: 5px solid #005bcf
                        .card-title
                            h3
                                color: #005bcf
                        .card-features
                            ul
                                color: #005bcf
                                li
                                    color: rgb(43,47,58)
                    .card-title
                        h3
                            margin: 0
                            font-size: 36px
                            line-height: 1
                            color: rgb(43,47,58)
                            font-family: "Varela Round"
                            text-align: center
                    .card-cost
                        padding: 4rem 0
                        text-align: center
                        .or
                            padding: 2rem 0
                            font-size: 14px
                            line-height: 1
                            color: rgb(149, 151, 156)
                            font-family: "Open Sans"
                        .manthly-cost
                            display: flex
                            justify-content: center
                            .cost-symbol
                                color: rgb(149, 151, 156)
                                font-size: 18px
                                line-height: 0.8
                                font-family: "Open Sans"
                            .cost-value
                                font-size: 30px
                                line-height: 0.8
                                color: rgb(43,47,58)
                                font-family: "Open Sans"
                                font-weight: 800
                            .cost-name
                                font-size: 14px
                                line-height: 0.8
                                color: rgb(43,47,58)
                                font-family: "Open Sans"
                        .annually-cost
                            display: flex
                            justify-content: center
                            .cost-symbol
                                color: rgb(149, 151, 156)
                                font-size: 18px
                                line-height: 0.8
                                font-family: "Open Sans"
                            .cost-value
                                font-size: 48px
                                line-height: 0.8
                                color: rgb(43,47,58)
                                font-family: "Open Sans"
                                font-weight: 800
                            .mo
                                font-size: 24px
                                line-height: 0.8
                                color: rgb(43,47,58)
                                font-family: "Open Sans"
                                font-weight: 800
                            .cost-name
                                text-align: left
                                font-size: 14px
                                line-height: 1.3
                                color: rgb(43,47,58)
                                font-family: "Open Sans"
                                &:after
                                    content: "Includes 1 Month Free"
                                    display: block
                                    font-size: 13px
                                    line-height: 1.2
                                    color: rgb(58,187,163)
                                    font-family: "Open Sans"

                    .card-features
                        border-top: 1px dashed rgb(202, 203, 206)
                        padding: 3rem 3rem 3rem 3rem
                        .features-title
                            padding-bottom: 1rem
                            span
                                font-size: 10px
                                letter-spacing: 4px
                                color: rgb(43,47,58)
                                font-family: "Open Sans"
                        ul
                            padding: 0
                            font-size: 14px
                            color: rgb(43,47,58)
                            font-family: "Open Sans"
                            font-weight: bold
                            li
                                list-style: none
                                font-weight: normal
                                line-height: 30px
                    .choose-card
                        margin-top: auto
                        padding: 0 3rem
                        button
                            font-size: 16px
                            letter-spacing: 0px
                            line-height: 50px
                            color: rgb(255,255,255)
                            font-family: "Open Sans"
                            font-weight: bold
                            text-align: center
                            width: 100%
                            height: 52px
                            border-radius: 3px
                            background-color: #2b2f39
                            border: 1px solid #2b2f39
                            transition: background-color 0.2s, border 0.2s
                            &:hover
                                border: rgb(58,187,163)
                                background-color: rgb(58,187,163)


        .plans-table
            width: 90%
            margin: 0 auto
            padding:
                top: 13rem
            .plans-table-wrapper
                table
                    thead
                        tr
                            th
                                border-bottom: 0px
                                font-size: 24px
                                line-height: 4
                                font-family: "Varela Round"
                                font-weight: 100
                                padding: 0
                                &:nth-child(1)
                                    width: 40%
                                &:nth-child(2)
                                    color: rgb(43,47,58)
                                    width: 15%
                                &:nth-child(3)
                                    color: rgb(58,187,163)
                                    width: 25%
                                &:nth-child(4)
                                    color: rgb(0,91,207)
                                    width: 20%
                    tbody
                        background-color: #fff
                        tr
                            height: 60px
                            &:nth-child(1), &:nth-child(2)
                                td
                                    vertical-align: middle
                                    font-size: 16px
                                    line-height: 18px
                                    color: rgb(43,47,58)
                                    font-family: "Open Sans"
                                    font-weight: 800
                            td
                                vertical-align: middle
                                font-size: 16px
                                line-height: 18px
                                color: rgb(43,47,58)
                                font-family: "Open Sans"
                                &:nth-child(1)
                                    font-size: 16px
                                    line-height: 18px
                                    color: rgb(43,47,58)
                                    font-family: "Open Sans"
                                    font-weight: bold

        .check
            text-align: center
            padding: 10rem 0rem
            .check-text
                span
                    font-size: 18px
                    letter-spacing: 0px
                    color: rgb(136, 141, 148)
                    font-family: "Open Sans"
                    text-align: center
            .check-title
                width: 20%
                margin: 4rem auto
                h3
                    margin: 0
                    font-size: 48px
                    color: rgb(43,47,58)
                    font-family: "Varela Round"
                    text-align: center
            .see-all-features
                a
                    font-size: 14px
                    letter-spacing: 0px
                    color: #2b2f3a
                    font-family: "Open Sans"
                    font-weight: bold
                    &:after
                        content: ""
                        background-image: url("../assets/icons/arrow_right.svg")
                        display: inline-block
                        width: 30px
                        height: 10px
                        margin-left: 8px

@media screen and (max-width: 1600px)
    .pricing
        .pricing-wrapper
            .contact-us-card
                .card-description
                    width: 39%

@media screen and (max-width: 1360px)
    .pricing
        .pricing-wrapper
            .contact-us-card
                .card-description
                        width: 47%
            .billing-interval
                padding: 0 0 10rem
            .plan-cards
                .plan-cards-wrapper
                    transform: translateY(-6rem)
                    .plan-card
                        width: 31%

@media screen and (max-width: 1024px)
    .pricing
        .pricing-wrapper
            .pricing-title
                width: 95%
                margin: 10rem auto 5rem
            .contact-us-card
                width: 95%
                .card-description
                    width: 63%
            .basic-plan
                padding: 6rem 0
            .plan-cards
                .plan-cards-wrapper
                    width: 95%
            .plans-table
                width: 95%
                padding-top: 6rem
            .check
                padding: 5rem 0
                .check-title
                    width: 30%
                    margin: 2rem auto

@media screen and (max-width: 768px)
    .contact-us-modal
        .modal-container
            width: 100%
            margin: 9rem 0
    .pricing
        .pricing-wrapper
            .pricing-title
                width: 100%
            .contact-us-card
                width: 100%
            .basic-plan
            .billing-interval
                padding: 0 0 10rem
            .plan-cards
                .plan-cards-wrapper
                    transform: translateY(-5rem)
                    display: block
                    .plan-card
                        width: 100%
                        margin-bottom: 3rem
            .plans-table
                padding-top: 3rem
                .plans-table-wrapper
                    table thead
                        tr
                            th
                                line-height: 3
                                font-size: 19px
                                &:nth-child(1)
                                    width: 30%
            .check
                padding: 3rem 0
                .check-title
                    width: 40%
                    margin: 2rem auto

@media screen and (max-width: 414px)
    .contact-us-modal
        .modal-container
            margin: 0
            padding: 1.5rem
            .modal-close
                margin: 0
            .contact-title
                padding: 1rem 0 3rem
            .contact-form
                .first-flex-wrapper, .second-flex-wrapper
                    flex-direction: column
                    margin: 0
                    padding: 0
                    .form-group
                        width: 100%
                        padding: 0
                        margin-bottom: 1rem
    .pricing
        .pricing-wrapper
            .pricing-title
                margin: 4rem auto 3rem
            .contact-us-card
                padding: 2rem
                flex-direction: column
                .card-description
                    width: 100%
                    .card-icon
                        margin-right: 1rem
                .card-button
                    text-align: center
                    margin-top: 2rem
                    button
                        width: 273px
            .basic-plan
                padding: 3rem 0
            .billing-interval
                .billing-interval-wrapper
                    width: 100%
                    select
                        width: 100%
            .plan-cards
                .plan-cards-wrapper
                    width: 100%
            .plans-table
                width: 100%
                overflow: hidden
                .plans-table-wrapper
                    overflow-x: scroll
                    table
                        width: 700px
                        margin: 0
            .check
                .check-title
                    width: 100%

@media screen and (max-width: 375px)
    .pricing
        .pricing-wrapper
            .pricing-title
                h2
                    font-size: 55px
                span
                    font-size: 55px

@media screen and (max-width: 320px)
    .contact-us-modal
        .modal-container
            .contact-title
                span
                    font-size: 50px
            .contact-form
                .first-flex-wrapper, .second-flex-wrapper
                    .form-group
                        input, select
                            height: 5rem

    .pricing
        .pricing-wrapper
            .pricing-title
                margin: 1rem auto 4rem
                h2
                    font-size: 45px
                span
                    font-size: 45px